.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.wrapper h2 {
  font-weight: 800;
}
.wrapper p {
  padding: 0rem 10rem;
}
.about {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 2rem;
  margin-top: 5rem;
}
.skills {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5rem;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-bg-dark);
}
.skills__grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0rem 10rem;
}
.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--color-primary);
  border-radius: 12px;
}
.level {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  background: transparent;
  position: relative;
  overflow: hidden;
}
.level__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-tertiary);
}
