.about {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 3fr;
}
.header__about {
  position: relative;
}
.header__about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px; /* Adjust this value to control the height of the border */
  width: 0;
  height: 1px; /* Adjust this value to control the thickness of the border */
  border-bottom: 2px solid var(--color-tertiary);
  transition: width 0.8s ease-out;
}
.bio:hover .header__about::after {
  width: 100%;
  transition: width 0.8s ease-out;
}
.wrapper h2 {
  font-weight: 800;
}
.wrapper p {
  padding: 0rem 10rem;
}
.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10rem;
  gap: 10rem;
}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10rem;
  gap: 10rem;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-bg-dark);
}
.header__skills {
  position: relative;
}
.header__skills::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px; /* Adjust this value to control the height of the border */
  width: 0;
  height: 1px; /* Adjust this value to control the thickness of the border */
  border-bottom: 2px solid var(--color-tertiary);
  transition: width 0.8s ease-out;
}
.skills:hover .header__skills::after {
  width: 100%;
  transition: width 0.8s ease-out;
}
.skills__grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}
.card {
  min-width: 15%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--color-primary);
  border-radius: 12px;
}
.level {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  background: transparent;
  position: relative;
  overflow: hidden;
}
.level__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-tertiary);
}
