.home {
  padding: 10rem;
}
.content {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.image {
  width: 35rem;
  height: 45rem;
  position: absolute;
  top: 30%;
  left: 70%;
  border-radius: 1rem;
  transform-origin: center center;
  transform: rotate(-7deg) translate(-30%, -70%);
  position: relative;
}
.image::before {
  width: 105%;
  height: 105%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-40%, -35%);
  border-radius: 1rem;
  z-index: -11;
  border: 1px dotted var(--color-border);
}

.image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  overflow: hidden;
}
